.square {
    width: 75px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
}

.npc {
    width: 5vh;
    height: auto;
    position: absolute;
    /* top: 50%;
    left: 35%; */
    z-index: 0;
    transform-origin: bottom;
    /*border-radius: 5px;*/
    border: black;
}

#galeta {
    z-index: -3;
}

.escenari {
    position: absolute;
}

#taquilla {
    width: 5%;
    height: auto;
    position: absolute;
    /* top: 50%;
    left: 35%; */
    z-index: 0;
    transform-origin: bottom;
    /*border-radius: 5px;*/
    border: black;
}

.npc:hover {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 0 4px rgba(24, 201, 255, 0.747));
    filter: drop-shadow(0 0 4px rgba(24, 201, 255, 0.747));
    transition: .2s ease-in-out;
}

#dialogbox {
    width: 85%;
    height: 17vh;
    background-color: rgba(255, 157, 77, 0.575);
    position: absolute;
    top: 70%;
    left: 5%;
    z-index: 1;
    visibility: visible;

    border-radius: 3vh;

    font-size: xx-large;
    text-align: justify;
    text-justify: auto;
    /* <!--padding: 10; */
    padding: 5vh;
    overflow-y: scroll;
    scrollbar-color: blue transparent;
    scrollbar-width: thick;
}

/* Works on Chrome/Edge/Safari */
#dialogbox::-webkit-scrollbar {
    width: 1em;
}
#dialogbox::-webkit-scrollbar-track {
    background: transparent;
}
#dialogbox::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 25px;
    border: 3px solid transparent;
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}
  
.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.ml10 .letter {
    display: inline-block;
    line-height: 1em;
}

body {
    font-family: 'Nerko One', cursive;
}
